.cl-snackbar-info,
.cl-snackbar-success,
.cl-snackbar-warning,
.cl-snackbar-error {
  color: #fff !important;
}

.cl-snackbar-info {
  background-color: rgba(13, 71, 161, 0.8) !important;
}
.cl-snackbar-success {
  background-color: rgba(27, 94, 32, 0.8) !important;
}
.cl-snackbar-warning {
  background-color: rgba(251, 140, 0, 0.8) !important;
}
.cl-snackbar-error {
  background-color: rgba(244, 67, 54, 0.8) !important;
}

/* GridStack */
.grid-stack-item > .ui-resizable-handle {
  opacity: 0;
  transition: opacity 0.5s ease;
  margin: 0 2px 2px 0;
}

.grid-stack-item:hover > .ui-resizable-handle {
  opacity: 1;
}
